
{
  "plugins": ["syntax-dynamic-import", "transform-object-rest-spread"],
  "presets": [
    [
      "airbnb",
      {
        "targets": {
          "uglify": true
        },
        "debug": true
      }
    ]
  ]
}